<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fank.f1k2.business.dao.CategoriesMapper">

    <select id="queryPage" resultType="java.util.LinkedHashMap">
        SELECT
            sub.id,
            sub.name AS sub_name,
            p.name AS parent_name,
            sub.type,
            sub.icon
        FROM categories sub
                 LEFT JOIN categories p ON sub.parent_id = p.id
        WHERE sub.parent_id != 0
        ORDER BY sub.id DESC;
    </select>
</mapper>
